.sitemap-links a {
	display:block;
	padding:1px;
	margin:2px 0;
}

a.sitemap-depth-2 {
	margin-left:20px;
}
a.sitemap-depth-3 {
	margin-left:40px;
}
a.sitemap-depth-4 {
	margin-left:60px;
}
a.sitemap-depth-5 {
	margin-left:80px;
}
a.sitemap-depth-6 {
	margin-left:100px;
}
